In [32]:
import pandas as pd

#retrieve HTML table data 
url = 'https://www.basketball-reference.com/leagues/NBA_2019_per_game.html'
html = pd.read_html(url, header = 0)
df2019 = html[0]

In [33]:
#Data Cleaning

#removing/dropping the rows with "age"
raw = df2019.drop(df2019[df2019.Age == 'Age'].index)
raw.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

In [34]:
raw.shape

(708, 30)

CHECK FOR MISSING VALUES

In [35]:
print(raw.isnull().sum())

Rk         0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        6
3P         0
3PA        0
3P%       47
2P         0
2PA        0
2P%       15
eFG%       6
FT         0
FTA        0
FT%       43
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

REPLACE THE MISSING VALUES WITH 0

In [36]:
df = raw.fillna(0)

CHECK IF THE NULL VALUES ARE DEALT

In [37]:
print(df.isnull().sum())

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

In [38]:
df.drop(['Rk'],axis=1)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,.357,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,.222,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,.345,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,.595,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,.576,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729,Tyler Zeller,C,29,MEM,4,1,20.5,4.0,7.0,.571,...,.778,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
730,Ante Žižić,C,22,CLE,59,25,18.3,3.1,5.6,.553,...,.705,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
731,Ivica Zubac,C,21,TOT,59,37,17.6,3.6,6.4,.559,...,.802,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
732,Ivica Zubac,C,21,LAL,33,12,15.6,3.4,5.8,.580,...,.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
733,Ivica Zubac,C,21,LAC,26,25,20.2,3.8,7.2,.538,...,.733,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

Write this Data into CSV

In [39]:
df.to_csv('nba2019.csv',index=False)

In [40]:
ls

 Volume in drive D is Sandhya
 Volume Serial Number is B8AD-453C

 Directory of d:\EDA

11/02/2021  09:36 PM    <DIR>          .
11/02/2021  09:36 PM    <DIR>          ..
11/02/2021  09:39 PM            42,306 expDataAna.ipynb
11/02/2021  09:40 PM            93,697 nba2019.csv
               2 File(s)        136,003 bytes
               2 Dir(s)  366,119,899,136 bytes free

LET'S START THE EDA

In [41]:
df = pd.read_csv('nba2019.csv')

In [42]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

CHECK THE DATATYPE OF EACH COLUMN IN THE DATAFRAME

In [44]:
df.dtypes

Rk          int64
Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

SHOW SPECIFIC DATATYPES IN DATAFRAME

In [45]:
df.select_dtypes(include="number")

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,25,31,2,19.0,1.8,5.1,0.357,1.3,4.1,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,28,10,0,12.3,0.4,1.8,0.222,0.2,1.5,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,22,34,1,12.6,1.1,3.2,0.345,0.7,2.2,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,25,80,80,33.4,6.0,10.1,0.595,0.0,0.0,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,21,82,28,23.3,3.4,5.9,0.576,0.0,0.2,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,528,29,4,1,20.5,4.0,7.0,0.571,0.0,0.0,...,0.778,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
704,529,22,59,25,18.3,3.1,5.6,0.553,0.0,0.0,...,0.705,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
705,530,21,59,37,17.6,3.6,6.4,0.559,0.0,0.0,...,0.802,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
706,530,21,33,12,15.6,3.4,5.8,0.580,0.0,0.0,...,0.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
707,530,21,26,25,20.2,3.8,7.2,0.538,0.0,0.0,...,0.733,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

In [46]:
df.select_dtypes(include='object')  #string data types

           Player Pos   Tm
0    Álex Abrines  SG  OKC
1      Quincy Acy  PF  PHO
2    Jaylen Adams  PG  ATL
3    Steven Adams   C  OKC
4     Bam Adebayo   C  MIA
..            ...  ..  ...
703  Tyler Zeller   C  MEM
704    Ante Žižić   C  CLE
705   Ivica Zubac   C  TOT
706   Ivica Zubac   C  LAL
707   Ivica Zubac   C  LAC

[708 rows x 3 columns]

Let's do some ACTUAL EDA !!

In [49]:
#Q1 : Which player scored the most Points (PTS) Per Game? 

max_index = df['PTS'].idxmax()
max_row = df.iloc[[max_index]]
playerWithMaxPoints = max_row
playerWithMaxPoints

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
267,206,James Harden,PG,29,HOU,78,78,36.8,10.8,24.5,...,0.879,0.8,5.8,6.6,7.5,2.0,0.7,5.0,3.1,36.1

In [51]:
#another easy way to do it :P